@{
    ViewData["Title"] = "Home Page";

    string email = "";
    string password = "";

    if(Model != null)
    {
        email = Model.email;
        password = Model.password;
    }
}

<form action="" method="post">
    Email: <input type="text" name="email" value="@email" /> <br />
    <span style="color:red">@Html.ValidationMessage("email")</span><br />
    Password: <input type="password" name="password" value="@password"/><br/>
    <span style="color:red">@Html.ValidationMessage("password")</span><br />
    <input type="submit" value="Login" />
</form>

